export const token =  "DISCORD_TOKEN_GOES_HERE";
export const sqlitePath =  "PATH_TO_CDCLIENT.SQLITE";
export const localePath =  "PATH_TO_LU_CLIENT/locale/locale.xml";
export const explorerDomain =  "https://explorer.lu";
export const botColor =  "#rrggbb";
export const logChannelId = "DISCORD_CHANNEL_ID";
export const reportChannelId = "DISCORD_CHANNEL_ID";
export var LUServerName = "Private LEGO Univese Server";
export var LUServerIcon = "https://pbs.twimg.com/profile_images/1397595907374391298/Rplf5mZy_400x400.jpg";
export var footerText = "LEGO® is a trademark of the LEGO Group which does not sponsor, authorize, or endorse this bot. The data and assets are presented purely for informational purposes.";
export var footerIcon = "https://cdn.discordapp.com/avatars/813618765685456916/2fb374c98d47b0d50299f9f452c2e0e1.webp";